*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.menu{
	width: 900px;
	margin: 30px auto;
	text-align: center;
}

.menu a{
	color: red;
	padding-right: 8px;
	border-right: 3px solid red;
	font-size: 20px;
	margin: 0 10px;
}