* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
}

.w50 {
	width: 50%;
	padding: 0 10px;
}

.menu {
	text-align: right;
}

.banner {
	width: 100%;
	min-height: 500px;
	background-color: green;

	padding: 90px 0;
	color: white;
	text-align: center;
}

.diferenciais {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	text-align: center;
}

.w33 {
	width: calc(100% / 3);
	padding: 0 10px;
}

footer {
	width: 100%;
	text-align: center;
	background-color: blue;
	bottom: 0;
	position: absolute;
}

@media screen and (max-width: 768px) {
	header,
	.menu {
		text-align: center;
	}

	.w33,
	.w50 {
		width: 100%;
		margin-bottom: 20px;
	}
}
