* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.flex {
    display: flex;
    justify-content: center;
}

body {
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 153, 255);
}

header {
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 34px;
    width: 600px;
    background-color: #faebd7;
    border: 2px solid #ffbae8;
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
}

header h1 {
    font-weight: normal;
    font-size: 18px;
    padding-top: 8px;
    padding-left: 12px;
}

main {
    flex-direction: column;
    min-height: 400px;
    width: calc(600px - 20px);
    padding: 10px;
    background-color: #faebd7;
    border: 2px solid;
    border-color: #faebd7 #ffbae8;
}

footer {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    height: 34px;
    width: 600px;
    background-color: #faebd7;
    border: 2px solid #ffbae8;
    border-top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 30px;
}

footer h6 {
    width: 100%;
    font-weight: normal;
    text-align: right;
    padding-right: 15px;
    font-size: 12.3px;
}

.button {
    min-height: 40px;
    min-width: 60px;
    border: 1px solid #ccc;
    border-radius: 10%;
}

.button:hover {
    cursor: pointer;
    margin-top: 2px;
    margin-left: 0.8px;
}