*{
	margin: 0;
	padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html, body{
	height: 100%;
}


.header{
	width: 100%;
	min-width: 1280px;
	height: 300px;
	background: gray;
}

.article{
	margin: 0 auto;
	width: 1280px;
	height: 30%;
	min-height: 500px;
	background: red;
}