* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box {
	width: 500px;
	height: 500px;
	background-color: cyan;
}

@media screen and (max-width: 768px) {
	.box {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.box {
		background-color: red;
	}
}
