*{
	margin: 0;
	padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html, body{
	height: 100%;
}

.box{
	width: 40%;
	height: 300px;
	color: gray;
}

.box p{
	color: initial;
	background: initial;
}

/*
@media screen and (max-width: 480px){
	.box{
		height: auto;
	}
}
*/