* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--lightGray: rgb(225, 225, 225);
	--gray: #ccc;
	--darkGray: #646464;
	--lightAqua: #44d4c5;
	--aqua: #52aaa7;
	--darkAqua: #237a70;
	--brown: #8a6b62;
	--lightBrown: #acac9d;
	--lightBlack: rgb(30, 30, 30);
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	color: var(--aqua);
	font-size: 1.6rem;
}

h2 span {
	border-top: 3px solid var(--darkAqua);
}

img {
	width: 100%;
	height: 100%;
}

header,
section {
	padding-left: 1rem;
	padding-right: 1rem;
}

/* Mobile Header */

.header {
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .logo a {
	font-size: 2rem;
}

.header .menu {
	flex-grow: 1;
}

.header:has(.menu nav.mobile-menu.open ul) {
	position: relative;
}

.header .menu nav.mobile-menu ul {
	display: none;
}

.header .menu nav.mobile-menu.open ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	top: 50px;
	left: 0;
}

.header .menu nav.mobile-menu.open ul li {
	width: 100%;
	display: grid;
	place-items: center;
}

.header .menu nav.mobile-menu.open ul li:nth-of-type(2n) {
	width: 100%;
	min-height: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.header .menu nav.mobile-menu.open ul li.active {
	background-color: var(--darkGray);
}

.header .menu nav.mobile-menu.open ul li a {
	width: 100%;
	text-align: center;
	padding: 1% 2%;
	background-color: white;
}

.header .menu nav.mobile-menu.open ul li a:hover {
	background-color: var(--gray);
}

.header .menu nav.desktop-menu {
	display: none;
}

/* Footer */

.footer {
	color: white;
	background-color: var(--aqua);
}

.footer .utility,
.footer .copywrights {
	text-align: center;
	padding: 1rem 3rem;
}

.footer .utility {
	gap: 2rem;
	display: flex;
	flex-direction: column;

	padding-top: 2rem;
}

.footer .utility h5 {
	font-size: 1.2rem;
	font-weight: normal;
}

.footer .utility a {
	color: white;
	display: block;
	font-size: 1rem;
	text-decoration: underline;
}

.footer .utility .social {
	gap: 1rem;
	display: flex;
	padding: 1rem 0;
	justify-content: center;
}

.footer .utility .social a i {
	font-size: 1.4rem;
}

.footer .copywrights {
	font-size: 0.9rem;
	background-color: var(--darkAqua);
}

@media screen and (min-width: 768px) {
	header,
	section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	/* Mobile Header */

	.header .menu nav.mobile-menu ul {
		display: none;
	}

	.header .menu nav.mobile-menu.open ul {
		display: none;
	}

	.header .menu nav.desktop-menu {
		display: block;
	}

	.header .menu nav.desktop-menu ul {
		list-style-type: none;

		gap: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.header .menu nav.desktop-menu ul li:hover,
	.header .menu nav.desktop-menu ul li.active {
		font-weight: bold;
		text-decoration: underline;
	}

	/* Footer */

	.footer .utility {
		row-gap: 3rem;
		padding-top: 3rem;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.footer .utility > div:last-of-type {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1366px) {
	header,
	section {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	/* Footer */

	.footer .utility {
		padding-top: 2.4rem;
		padding-bottom: 1.6rem;
		grid-template-columns: repeat(3, 1fr);
	}

	.footer .utility > div:last-of-type {
		grid-column: span 1;
	}
}
