* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.container {
	margin-left: 15px;
}

.d1,
.d2,
.d3 {
	width: 300px;
	height: 300px;
}

.d1 {
	width: 50%;
	height: auto;
	padding: 20px;
	margin: 20px;
	margin-right: 10px;
	display: inline-block;
	background-color: red;
}
.d2 {
	display: inline-block;
	background-color: green;
}
.d3 {
	background-color: blue;
}
